:root { 
--white_A700_7f:#ffffff7f; 
--gray_600:#707070; 
--gray_900_02:#282828; 
--white_A700_b2:#ffffffb2; 
--gray_900_26:#1f1f1f26; 
--blue_gray_100:#cccccc; 
--gray_900:#232426; 
--gray_900_01:#1e1e1e; 
--white_A700_0f:#ffffff0f; 
--gray_900_19:#1f1f1f19; 
--white_A700_cc:#ffffffcc; 
--white_A700_33:#ffffff33; 
--teal_300:#34d399; 
--black_900_01:#000000; 
--black_900:#101010; 
--gray_900_7f:#1e1e1e7f; 
--red_A400:#ff2020; 
--blue_gray_900_01:#323232; 
--blue_gray_900:#373737; 
--white_A700:#ffffff; 
--red_A700:#ff0000; 
}